<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Count</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Party Count</h1>
    <table border="1">
        <thead>
            <tr>
		        <th>Party , Count</th>
            </tr>
        </thead>
<!--        <tbody id="table-body">-->

        	{% for party_count in party_counts %}
       		<tr>
        		<td>{{ party_count }}</td>
        	</tr>
        	{% endfor %}
<!--        </tbody>-->
    </table>
    <br>
    <a href="/">Return to Home</a>
</body>


