<!-- vote_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Form</title>
</head>
<body>
    <h1>Vote Form</h1>
    <form method="post">
        {% csrf_token %}
        <label for="voter_name">Voter Name:</label>
        <input type="text" id="voter_name" name="voter_name"><br><br>
        <label for="voter_id">Voter ID:</label>
        <input type="text" id="voter_id" name="voter_id"><br><br>
        <label for="party_name">Party Name:</label>
        <input type="text" id="party_name" name="party_name"><br><br>
        <button type="submit">Vote</button>
    </form>
    <br>
    <a href="{""}">Return to Home</a>
</body>
</html>